.keypad__container div:first-child {
  margin: 0;
}

.keypad__container {
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  background: var(--color-keypad-container-bg);

  .row__flex {
    display: flex;
    background: inherit;
    gap: 1rem;
    margin-top: 1rem;


    .keypad__digit__op_arytmetic {
      font-size: 1.7rem;
      padding: .7rem;
      background: var(--color-keypad-digit-bg);
      box-shadow: var(--color-keypad-digit-shadow);
      color: var(--color-keypad-digit-font);
      border-radius: 5px;
      border: none;
      flex: 1 1 100%;
      font-weight: 700;
      cursor: pointer;
    }

    .keypad__digit__op_arytmetic:hover {
      opacity: 0.7;
      background: var(--color-keypad-digit-hover-bg);
    }

    .keypad__del {
      font-size: 1.1rem;
      text-transform: uppercase;
      color:var(--color-keypad-operations-delAndReset-font);
      background: var(--color-keypad-operations-delAndReset-bg);
      box-shadow: var(--color-keypad-operations-delAndReset-shadow);
    }

    .keypad__del:hover {
      background: var(--color-keypad-operations-delAndReset-hover-bg);
      opacity: 0.8;
    }

    .keypad__reset {
      font-size: 1.1rem;
      text-transform: uppercase;
      color: white;
      width: 50%;
      padding: 1rem 0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .keypad__reset:hover {
      opacity: 0.6;
    }

    .keypad__equal {
      width: 50%;
      font-size: 1.1rem;
      color: var(--color-keypad-operations-equal-font);
      background: var(--color-keypad-operations-equal-bg);
      border: none;
      border-radius: 5px;
      box-shadow: var(--color-keypad-operations-equal-shadow);
      cursor: pointer;
    }

    .keypad__equal:hover {
      opacity: 0.6;
      box-shadow:var(--color-keypad-operations-equal-hover-bg);
    }

  }

}